<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>About Me</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-text-center ion-padding">
    <ion-img src="https://i.imgur.com/dIK0CoS.png"></ion-img>
    <ion-card-header>
      <ion-card-title>KevinHoseaWidjaya</ion-card-title>
      <h2>00000020805</h2>
    </ion-card-header>
    <ion-card-content>pusing</ion-card-content>
  </ion-card>

</ion-content>
