<ion-app>
    <ion-menu menuId="main-menu" content-id="main">
        <ion-header>
            <ion-toolbar>
                <ion-title>menu</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-menu-toggle>
                    <ion-item>
                        <ion-icon name="menu" slot="start"></ion-icon>
                        <ion-label>menu utama</ion-label>
                    </ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle>
                    <ion-item>
                        <ion-icon name="admin" slot="start"></ion-icon>
                        <ion-label>admin</ion-label>
                    </ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle>
                    <ion-item routerLink="/userinfo">
                        <ion-icon name="info_user" slot="start"></ion-icon>
                        <ion-label>info user</ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
